@import "tailwindcss";
@import "tw-animate-css";

:root {
  --dark-navy: #004254;
  --light-blue: #00c0ff;
  --hover-navy: #0c5a6d;
  --hover-blue: #2ccfff;
  --montserrat: var(--font-montserrat);
  --open-sans: var(--font-open-sans);
}

@theme inline {
  --color-dark-navy: var(--dark-navy);
  --color-light-blue: var(--light-blue);
  --color-hover-navy: var(--hover-navy);
  --color-hover-blue: var(--hover-blue);
  --font-montserrat: var(--montserrat);
  --font-open-sans: var(--open-sans);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

section {
  position: relative;
  width: 100%;
  padding: 70px 0;
}

@media (max-width: 1024px) {
  section {
    padding: 45px 0;
  }
}
@media (max-width: 768px) {
  section {
    padding: 30px 0;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--open-sans);
}
p,
span,
button,
li {
  font-family: var(--montserrat);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 2.5s linear infinite;
}
